AspNetDistributedClient/Connected Services/CalculatePointServiceReference/CalculatePoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://CalculatePoint.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://CalculatePoint.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CalculatePoint.org/">
      <s:element name="CalculateIntersection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstStraight" type="tns:Straight" />
            <s:element minOccurs="0" maxOccurs="1" name="SecondStraight" type="tns:Straight" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Straight">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstPoint" type="tns:Point" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondPoint" type="tns:Point" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Point">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateIntersectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CalculateIntersectionResult" type="tns:Point" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateIntersectionSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateIntersection" />
  </wsdl:message>
  <wsdl:message name="CalculateIntersectionSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateIntersectionResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculatePointSoap">
    <wsdl:operation name="CalculateIntersection">
      <wsdl:input message="tns:CalculateIntersectionSoapIn" />
      <wsdl:output message="tns:CalculateIntersectionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatePointSoap" type="tns:CalculatePointSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateIntersection">
      <soap:operation soapAction="http://CalculatePoint.org/CalculateIntersection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatePointSoap12" type="tns:CalculatePointSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateIntersection">
      <soap12:operation soapAction="http://CalculatePoint.org/CalculateIntersection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatePoint">
    <wsdl:port name="CalculatePointSoap" binding="tns:CalculatePointSoap">
      <soap:address location="https://localhost:44323/CalculatePoint.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculatePointSoap12" binding="tns:CalculatePointSoap12">
      <soap12:address location="https://localhost:44323/CalculatePoint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>